/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.App {
  color: #FF7E1C;
} */

* {
  font-family: 'Noto Serif TC', serif;
}

.icon-wh {
  width: 20px;
  height: 20px;
}

.text-shadow {
  text-shadow: #ffffff 0.1em 0.1em 0.2em;
}

input:checked ~ .menu-switch {
  max-width: 300px;
}